<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% card4.forEach(element => {%>
            <p>Cases:<%= element.country%></p>
            <p>DATE:<%= element.confirmed_cases %></p>
            <p>DATE:<%= element.death_cases %></p>
            <p>DATE:<%= element.Rrecoverd_cases %></p>
            <p>DATE:<%= element.date %></p>
            <form action="" method="post"></form>
            <%});%>
    </section>
    
</body>
</html>